.img-txt-container {
    display: flex;

    .img-container {
        padding: 50px;
    }

    img {
        height: 600px;
        object-fit: cover;
        padding: 10px 0;
        width: 600px;        
    }

    .txt-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    }

    .txt-heading {
        font-size: 40px;
    }

    .txt-description {
        padding: 15px 0;
    }

    app-button {
        padding-top: 15px;
    }
}
