<div class="footer-container">
    <div class="icon-container">
        <a href="https://www.instagram.com/connectingthedots.live/" target="_blank">
            <img src="/assets/svg/instagram.svg" alt="Instagram"> 
        </a>
        <a href="https://www.youtube.com/channel/UCEC9-sg5bPH9xm7M01G8Lvg/featured" target="_blank">
            <img src="/assets/svg/youtube.svg" alt="Youtube">
        </a>
        <a href="https://www.facebook.com/connectingthedots.live/" target="_blank">
            <img src="/assets/svg/facebook.svg" alt="Facebook">
        </a>
    </div>
    <div class="copyright">
        <span>Copyright @ 2021 Connecting The Dots. All rights reserved.</span>
    </div>
</div>
