@import '../../../styles/variables';

.footer-container {
    
    align-items: center;
    background-color: $app-teal;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    
    .icon-container {
        display: flex;
        justify-content: space-between;
        width: 130px;
    }

    img {
        height: 32px;
        width: 32px;
    }

    .copyright {
        padding-top: 10px;
    }
}
