.header-container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 120px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: calc(100% - 16px);

  .logo-container {
    display: flex;
    height: 100px;
    padding-left: 15px;
    width: 100px;
  }

  app-navigation {
    width: 600px;
  }
}
