<div class="home-container">
    <img class="cover-image" src="/assets/images/nadiaHeadshot1.JPG" alt="image">

    <div class="image-text-container">
        <table>
            <tr>
              <th><app-image-text imageSrc="/assets/images/nadiaMeditating.JPG" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."></app-image-text></th>
              <th><app-image-text imageSrc="/assets/images/nadiaMeditating.JPG" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."></app-image-text></th>
            </tr>
            <tr>
                <th><app-image-text imageSrc="/assets/images/nadiaMeditating.JPG" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."></app-image-text></th>
                <th><app-image-text imageSrc="/assets/images/nadiaMeditating.JPG" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."></app-image-text></th>
            </tr>
            <tr>
                <th><app-image-text imageSrc="/assets/images/nadiaMeditating.JPG" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."></app-image-text></th>
                <th><app-image-text imageSrc="/assets/images/nadiaMeditating.JPG" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."></app-image-text></th>
            </tr>
          </table>
    </div>
</div>

