<div class="home-container">
  <img
    class="cover-image"
    src="/assets/images/nadiaHeadshot1.JPG"
    alt="image"
  />

  <!-- <div class="quote-container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.  -Somertsy
    </div> -->

  <div class="image-text-container">
    <table>
      <tr>
        <app-image-text
          imageSrc="/assets/images/nadiaMeditating.JPG"
          heading="This is a heading"
          buttonText="Button text"
          description="This is description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."
        ></app-image-text>
      </tr>
      <tr>
        <app-image-text
          imageSrc="/assets/images/nadiaMeditating.JPG"
          imageOrder=1
          heading="This is a heading"
          buttonText="Button text"
          description="This is description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."
        ></app-image-text>
      </tr>
      <tr>
        <app-image-text
          imageSrc="/assets/images/nadiaMeditating.JPG"
          heading="This is a heading"
          buttonText="Button text"
          description="This is description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum iaculis purus ullamcorper facilisis. Morbi ultricies ullamcorper lectus, sed ullamcorper nisl luctus eget. Vestibulum tempor nunc non condimentum porta. Praesent dolor erat, molestie non feugiat vitae, consectetur et purus. Vivamus suscipit malesuada odio."
        ></app-image-text>
      </tr>
    </table>
  </div>
</div>
