@import '../../../styles/variables';

.button {
    padding: 20px;
}

.border {
    background-color: $app-teal;
    border-color: $app-teal;
    border-radius: 50px;
    border-style: solid;
    color: white;
    padding: 10px;
}
